ESPPROG-TC2050-Adapter-backups/
fetchComponent.py
Symbol_Usage_Examples/

fp-info-cache
# kicad 
*-bak
*.bak
*-backups
*-cache*
*-bak*
_autosave*
\#auto_saved_files\#
*.lck
output/
outputs/
bom/
production/

